*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
main{
   width: 75%;
   margin: 50px auto;
   border: 1px solid black;
   display: grid;
   grid-template-rows: 50px 100px 200px 60px;
   grid-template-columns: repeat(3, 1fr) 100px;
   grid-gap: 20px ;


}

.div1{
    background-color: rgb(53, 50, 205);
    grid-column: 1/-1;
}
.div2{
    background-color: red;
}
.div3{
    background-color: rgb(205, 50, 205);
}
.div4{
    background-color: rgb(205, 50, 58);
}
.div5{
    background-color: rgb(50, 205, 205);
    grid-row: 2/4;
    grid-column: 4/5;
}
.div6{
    background-color: rgb(86, 205, 50);
    grid-column: 1/4;
}
.div7{
    background-color: yellowgreen;
    grid-column: 1/5;
}

