header{
    width: 100%;
    height: 50px;
    background-color: rgb(70, 58, 58);
    display: flex;
}
.home{
    color: cornsilk;
    cursor: auto;
}
.logo{
    width: 20%;
    height: 50px;
    /* background-color: rgba(0, 0, 255, 0.404); */
}
.img{
    width: 100%;
    height: 50px;
}
.navbar{
    width: 40%;
    height: 50px;
    /* background-color: rgba(137, 43, 226, 0.562); */
}
.blank{
    width: 40%;
    height: 50px;
    /* background-color: rgba(165, 42, 42, 0.342); */
}
ul{
    list-style-type:none ;
}
li{
    float: left;
     margin-left: 15px;
    font-family: 'Pacifico', cursive;
    color: black;
}
 /*a{
    text-decoration: none;
    color: black; 
}*/
.show[placeholder]{
    font-family: sans-serif;
}
.show{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    border-style: none;
    margin-left: 275px;
    margin-top: 12px;
    outline: none;
}
button{
    border-style: none;
    background-color: darkblue;
    color: #ffffff;
    outline: none;
}
button:hover{
    background-color: darkgray;
}
/*body{
    background-size: cover;
    background-repeat: no-repeat;
     /* background-image: url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); */
     /* background-color: black; 
}*/
a{
    text-decoration: none; 
    color: white;
    
}
.back{
    background-image: url("https://cdn.pixabay.com/photo/2018/09/19/23/03/sunset-3689760__340.jpg");
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -17px;
}
.img_1{
    width: 100%;
    height: 400px;
}
.cont{
    width: 100%;
    height: auto;
     background-color:rgba(126, 121, 121, 0.61); 
    display: grid;
    grid-column: auto auto auto;
    grid-row: auto auto auto auto;
    grid-gap: 10px;
    /* justify-content: space-around; */
    justify-content: space-between;
}
.col_1{
    /* width: 32%;
    height:auto; */
    /* background-color: rgb(46, 41, 41); */
    /* border-right: 1px solid black; */
    /* background-origin: 50px black; */
    /* box-shadow: 5px 0px 30px black; */
    margin-top: -74px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 1px solid red;
}
.col_2{
    /* width: 32%;
    height: auto; */
    /* background-color: black; */
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
    /* box-shadow: 2px 0px 5px 30px rgb(71, 68, 68); */
    margin-top: -74px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 1px solid red;
}
.col_3{
    /* width: 32%;
    height: auto; */
    /* background-color: rgb(136, 90, 179); */
    /* border-left: 1px solid black; */
    margin-top: -74px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 1px solid red;
    
}
.img_2{
    margin-top: 10px;
    margin-left: 12px;
    box-shadow: 10px 10px 20px -5px rgb(41, 38, 38);
    width: 400px;
    height: 512px;
}
.img_3{
    width: 400px;
    height:512px;
    margin-left: 12px;
    margin-top: 50px;
    box-shadow: 10px 10px 20px -5px rgb(41, 38, 38);
}
.img_4{
    width: 400px;
    height: 337px;
    margin-left: 12px;
    margin-top: 20px;
    box-shadow: 10px 10px 20px -5px rgb(41, 38, 38);
}
.img_5{
        WIDTH: 400px;
        margin-left: 12px;
        HEIGHT: 426px;
        MARGIN-TOP: 41PX;
        box-shadow: 10px 10px 20px -5px rgb(41, 38, 38);   
}
.img_7{
    width: 25%;
    height: 200px;
    margin-top: 35px;
     margin-left: 100px;
    /* background-color:rgba(126, 121, 121, 0.61); */
}
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(70, 58, 58);
    padding-top: 150px;
    color:cornsilk;
    display: flex;
    justify-content:space-between ;
}  
/* @media screen and ( max-width: 700px ){
    li{
        font-size: 12px;
    }
    .show{
        margin-left: -20px;
        margin-top: 15px;
    }
    .cont{
        justify-content: space-between;
    }
     .img_2{
    width: 190px;
    height: 463px;
    margin-top: 90px;
    box-shadow: 10px 10px 20px -5px rgb(41 38 38);
    }
  .img_3{
    width: 205px;
    height: 512px;
    margin-left: 12px;
    margin-top: 50px;
    box-shadow: 10px 10px 20px -5px rgb(41 38 38);

    }
   .img_4{
    width: 174px;
    height: 265px;
    margin-left: 12px;
    margin-top: 20px;
    box-shadow: 10px 10px 20px -5px rgb(41, 38, 38);


   }
   .img_5{
    width: 191px;
    height: 381px;
    margin-left: 12px;
    MARGIN-TOP: 41PX;
    box-shadow: 10px 10px 20px -5px rgb(41, 38, 38); 
   }
   footer{
    width: 100%;
    height: 234px;
    margin-top: -42px;

   }

    

    
} */
.footer-colo-1{
    width: 30%;
    height: 300px;
    margin-top: -150px;
    /* background-color: aqua; */

}
.footer-colo-2{
    width: 30%;
    height: 300px;
    /* background-color: blue; */
    margin-top:-150px ;
}
.footer-colo-3{
    width: 30%;
    height: 300px;
    margin-top: -150px;
    /* background-color: brown; */
}