main{
    width: 100%;
    display: grid;
    
}
.header{
    background-color: aqua;
}
.main{
    background-color: blue;
}
.col_1{
    background-color: brown;
}
.col_2{
    background-color: coral;
}
.col_3{
    background-color: cornflowerblue;
}